body {
    font-family: 'Josefin Sans', 'ヒラギノ丸ゴ Pron', 'Hiragino Maru Gothic Pron', 'メイリオ', Meiryo, 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif;
  }
  
.image-wrapper .image:not(.loaded) {
  -webkit-filter: none;
  filter: none;
}

.post-image:not(.loaded) {
  -webkit-filter: none;
  filter: none;
}
