html, body {
    font-family: "Sen", 'ヒラギノ丸ゴ Pron', 'Hiragino Maru Gothic Pron', 'メイリオ', Meiryo, 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif;
  }

.image-wrapper .image:not(.loaded) {
  -webkit-filter: none;
  filter: none;
}

.post-image:not(.loaded) {
  -webkit-filter: none;
  filter: none;
}

.archive-timeline-post-flex {
  display: flex;
  align-items: center;
}

.archive-timeline-thumbnail {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.archive-timeline-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.archive-timeline-info {
  display: flex;
  flex-direction: column;
}

.archive-timeline-post-date {
  font-size: 1.0rem;

}

.archive-timeline-post-item {
  font-size: 1.0rem;
  text-decoration: none;
}

.archive-timeline-category {
      font-size: 0.9rem;
}
.archive-timeline-post-item:hover {
  text-decoration: underline;
}

.card-excerpt,
.post-title {
  margin-bottom:.2rem
}
.card-post-footer {
  margin-bottom:.2rem
}
.navbar-logo-img {
  margin-right:5px
  width:25px;
}

@media (max-width: 742px) {
    #menubutton {
        display: none;
    }
}
.archive-timeline-tag {
  background-color:#d32e75;
}
.social-links {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 10px;
}
.social-links .link-item {
  margin-right: 10px; /* 右側に10pxのスペースを追加 */
}

/* 最後のアイコンの右側にはスペースを追加しない */
.social-links .link-item:last-child {
  margin-right: 0;
}

.social-links .link-item i {
  font-size: 1.5em; /* ここでサイズを調整 */
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags-list-item {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.tag-count {


  font-size: 0.9em;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

